
body{

    background-color: rgb(32, 32, 32);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

main{
    text-align: center;
    max-width: 90%;

}

img{
    max-width: 90%;
}

button {
    width: 150px;
    height: 300px;
    background-color: gray;
    color: white;
    border-style: hidden;
}

button:hover{
    background-color: darkgray;
}

button:active{
    background-color: rgb(71, 71, 71);
}

.cry-btn button{
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExanZiYTFrMngzbnU3aWZ3MTdjb3AyN2oyeGE1ZW5idm5nbzhuOWtpbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3fmRTfVIKMRiM/giphy.webp);
    background-size: cover;
}

.pass{
    display: none;
}

.pass.active{
    display: block;
}

.buttons {

    display: flex;
    overflow-x: auto;
    row-gap: 5px;

}
